@font-face {
  font-family: 'Atyp Display';
  font-weight: 700;
  font-style: normal;
  src: url('/assets/fonts/atyp-display/atyp-display-700-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'Atyp Text';
  font-weight: 400;
  font-style: normal;
  src: url('/assets/fonts/atyp-text/atyp-text-400-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'Public Sans';
  font-weight: 300;
  font-style: normal;
  src: url('/assets/fonts/public-sans/public-sans-300-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'Public Sans';
  font-weight: 400;
  font-style: normal;
  src: url('/assets/fonts/public-sans/public-sans-400-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'Public Sans';
  font-weight: 500;
  font-style: normal;
  src: url('/assets/fonts/public-sans/public-sans-500-normal.woff2') format('woff2');
}
